{% extends "membership/master.html" %}
    {% block title %}{{title}}{% endblock %}
    {% block content %}
    
    <form class="form-group" method="post">
        {% csrf_token %}
        {% if member_form.non_field_errors %}
            <div class="errors">
                {{member_form.non_field_errors}}
            </div>
        {% endif %}
        <fieldset class="vk-fieldset">
            <legend>Infos membre</legend>
            {% for field in member_form %}
            <div class="vk-form-line edit-member-vk-form-line">
                {{field.label_tag}}
                {{field}}
                {% if field.errors %}
                    <div class="errors">{{field.errors}}</div>
                {% endif %}
            </div>
           {% endfor %}
        </fieldset>
        <fieldset class="vk-fieldset">
            <legend>Infos contact</legend>
            {% if contact_form.non_field_errors %}
                <div class="errors">
                    {{contact_form.non_field_errors}}
                </div>
            {% endif %}
            {% for field in contact_form %}
            <div class="vk-form-line edit-member-vk-form-line">
                {{field.label_tag}}
                {{field}}
                {% if field.errors %}
                    <div class="errors">{{field.errors}}</div>
                {% endif %}
            </div>
           {% endfor %}
        </fieldset>
        <button type="submit">Enregistrer</button>
    </form>
    {% endblock %}