{% extends "membership/master.html" %}
{% load static %}
    {% block title %}<h3>{{title}}</h3>{% endblock %}
    {% block content %}
    <p><a href="/membership/edit-member/{{member.id}}">Modifier le profil</a></p>
    <table class="table-bordered bg-dark w-100">
        <tr>
            <td colspan="2" class="p-2"><h3 class="text-center">Infos de connexion</h3></td>
        </tr>
        <tr>
            <th class="text-end p-2">Adresse email</th>
            <td class="p-2">{{member.user.email}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Tél.</th>
            <td class="p-2">{{member.user.phone_number}}</td>
        </tr>
        <tr>
            <td colspan="2" class="p-2"><h3 class="text-center">Infos membre</h3></td>
        </tr>
        <tr>
            <th class="text-end p-2">Dernier changement</th>
            <td class="p-2">{{member.last_change_date | date:'d/m/Y P'}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Email</th>
            <td class="p-2">{{member.contact.email_1}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Tél fixe (1)</th>
            <td class="p-2">{{member.contact.fixed_nr_1}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Tél fixe (2)</th>
            <td class="p-2">{{member.contact.fixed_nr_2}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">GSM (1)</th>
            <td class="p-2">{{member.contact.mobile_nr_1}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">GSM (2)</th>
            <td class="p-2">{{member.contact.mobile_nr_2}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Titre</th>
            <td class="p-2">{{member.get_title_display}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Prénom</th>
            <td class="p-2">{{member.first_name}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Nom</th>
            <td class="p-2">{{member.name}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Postnom</th>
            <td class="p-2">{{member.postname}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Fédération</th>
            <td class="p-2">{{member.branch.federation.name}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Branche</th>
            <td class="p-2">{{member.branch.name}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Sexe</th>
            <td class="p-2">{{member.get_sex_display}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Statut marital</th>
            <td class="p-2">{{member.get_marital_status_display}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Statut membre</th>
            <td class="p-2">{{member.get_status_display}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Cagorie</th>
            <td class="p-2">{{member.get_category_display}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Profession</th>
            <td class="p-2">{{member.profession}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Diplôme</th>
            <td class="p-2">{{member.get_grade_display}}</td>
        </tr>
        <tr>
            <th class="text-end p-2">Nombre d'enfants</th>
            <td class="p-2">{{member.child_count}}</td>
        </tr>
        <tr>
            <th rowspan="2" class="text-end">Adresse</th>
            <td class="p-2">{{member.contact.street_name}}&nbsp; {{member.contact.street_nr}}&nbsp;{{member.contact.street_box}}</td>
        </tr>
        <tr>
            <td class="p-2">{{member.contact.zip_code}}&nbsp; {{member.contact.city}}</td>
        </tr>
    </table>
    {% endblock %}