{% extends "planning/master.html" %}
{% load static %}
{% load planning_extras %}
{% block title %}<h3>{{title}}</h3>{% endblock %}
{% block content %}
<h4 class="text-center">Calendrier {{month_name}} / {{year}}</h4>
<ul class="row">
    <li class="col-sm-4 col-md-2 list-group-item bg-dark text-white"><a href="/planning/calendar/{{prevYearYear}}/{{prevYearMonth}}">&lt;&lt; Année (-)</a></li>
    <li class="col-sm-4 col-md-2 list-group-item bg-dark text-white"><a href="/planning/calendar/{{prevMonthYear}}/{{prevMonthMonth}}">&lt; Mois (-)</a></li>
    <li class="col-sm-4 col-md-2 list-group-item bg-dark text-white"><a href="/planning/calendar/">Ce mois-ci</a></li>
    <li class="col-sm-4 col-md-2 list-group-item bg-dark text-white"><a href="/planning/calendar/{{nextMonthYear}}/{{nextMonthMonth}}">Mois (+) &gt;</a></li>
    <li class="col-sm-4 col-md-2 list-group-item bg-dark text-white"><a href="/planning/calendar/{{nextYearYear}}/{{nextYearMonth}}">Année (+) &gt;&gt;</a></li>
</ul>
<table class="table bg-dark text-white">
    <tr>
        {% for day in day_names.split %}
        <th>{{day}}</th>
        {% endfor %}
    </tr>
    {% for week in month_days %}
    <tr>
        {% for day in week %}
            {% with day_events=events_by_day|get_item:day %}
            <td class="vk-calendar-date {% if day == today %}today{% endif %} {% if day.month != month %}other-month{% endif %}">
                <h2>{{day.day}}</h2>
                {% if day_events %}
                <ul>{% for event in day_events %}
                    <li class="event">
                        <a href="/planning/event-detail/{{event.id}}"><strong>{{event.title}}</strong></a><br>
                        {{event.intro|truncatewords:10}}
                    </li>{% endfor %}
                </ul>
                {% else %}
                Pas d'événement
                {% endif %}
            </td>
            {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}