{% extends "planning/master.html" %}
{% load static %}
{% block title %}<h3>{{title}}</h3>{% endblock %}
{% block content %}
<h4>Évènements ici</h4>
<div><a href="/planning/add-event/">Ajouter un évènement</a></div>
<div><a href="/planning/events/0">&gt;&gt;Du premier</a></div>
<div><a href="/planning/events/1">Du dernier&gt;&gt;</a></div>
{% for event in events %}
<div class="event-box">
    <h3>{{event.title}}</h3>
    <h6>{{event.start_date}} - {{event.end_date}}</h6>
    <h5>{{event.intro}}</h5>z
    <p>{{event.content}}</p>
    <p><a href="/planning/event-detail/{{event.id}}">Détail &gt;&gt;</a></p>
    <p><a href="/planning/edit-event/{{event.id}}">Modifierzz &gt;&gt;</a></p>
</div>
{% endfor %}
{% endblock %}