{% extends 'accounts/master.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div><a href="/accounts/accounts">&lt;&lt;Comptes utilisateur</a></div>
<form action="">
    {% csrf_token %}
    {% if user_form.non_field_errors %}
        <div class="errors">
            {{user_form.non_field_errors}}
        </div>
    {% endif %}
    <fieldset>
    {% for field in user_form %}
    <div>
    {{field.label_tag}}
    {{field}}
    </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Go</button>
    </fieldset>
</form>
{% endblock %}