{% extends 'accounts/master.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div>{{message}}</div>
<div><a href="/accounts/signin">&lt;&lt; Retour à la page d'identification</a></div>
<form action="" class="vk-form">
    <fieldset class="vk-fieldset">
        <legend>Authentification</legend>
        {% for field in signin_form %}
        <div class="vk-form-line vk-form-line-signin">{{field.label_tag}}{{field}}</div>
        {% endfor %}
        <button class="btn btn-primary">Frapper</button>
    </fieldset>
</form>
{% endblock %}