{% extends "blog/master.html" %}
{% load static %}
    {% block title %}<h3>{{title}}</h3>{% endblock %}
    {% block content %}
    <h3>Forum des membres</h3>
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3"><img src="{%static 'img/blog/member-thinking.jpeg'%}" alt="B.L.O.G." class="w-100"></div>
        <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9">Vous êtes des milliers de membres à nous suivre en ligne. Sans vous, nous n'existerions pas. Votre avis est précieux pour nous, et nous le suivons quotidiennement.</div>
    {% endblock %}
    </div>