{% extends "membership/master.html" %}
{% load static %}
    {% block title %}<h3>{{title}}</h3>{% endblock %}
    {% block content %}
<div class="d-grid gap-3">
    <h3>{{title}}</h3>
    <div class="vk-chart-box">
        <h4>Distribution des sexes</h4>
        <canvas class="vk-charts w-100" id="sexChart" widvth="200" height="200"></canvas>
    </div>
    <div class="vk-chart-box m-5">
        <h4>Distribution des âges</h4>
        <canvas class="vk-charts w-100" class="vk-charts" id="ageChart" width="200" height="200"></canvas>
    </div>
    <div class="vk-chart-box m-5">
        <h4>Distribution des fédérations</h4>
        <canvas class="vk-charts w-100" id="federationChart" width="200" height="500"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
    const ageData = {{age_data|safe}};
    const ageCounts = {};
    ageData.forEach(
        age => {ageCounts[age] = (ageCounts[age] || 0) +1;
    });
    const ageLabels = Object.keys(ageCounts).sort((a,b)=>a-b);
    const ageValues = ageLabels.map(label=>ageCounts[label]);
    new Chart(document.getElementById("ageChart"),{
        type:"bar",
        data:{
            labels:ageLabels,
            datasets:[{
                label: "Nombre de membres",
                data:ageValues,
                backgroundColor:[
                    '#FEA',
                    '#AB0',
                    '#BFE',
                    '#FA0',
                    '#A03'
                ]
            }]
        },plugins:[ChartDataLabels],
        options:{
            plugins:{
                datalabels:{
                    color:"white",
                    backgroundColor:"#222"
                },
                legend:{
                    labels:{
                        color:"white"
                    }
                }
            }
        }
    });
    
    const federationLabels = {{federation_labels|safe}};
    const federationCounts = {{federation_counts|safe}};
    new Chart(document.getElementById("federationChart"),{
        type:"pie",
        data:{
            labels: federationLabels,
            datasets:[{
                data:federationCounts,
                backgroundColor:[
                    '#FEA',
                    '#AB0',
                    '#BFE',
                    '#FA0',
                    '#A03'
                ]
            }]
        },
        plugins:[ChartDataLabels],
        options:{
            plugins:{
                datalabels:{
                    color:"white",
                    backgroundColor:"#222"
                },
                legend:{
                    labels:{
                        color:"white"
                    }
                }
            }
        }
    });
    const rawData = JSON.parse('{{sex_counter|safe}}')
    const myMap = new Map(Object.entries(rawData));
    for(const [k,v] of myMap){
        console.log("key = <"+k+">, value = <"+v+">");
    }
    console.log("LABELS:");
    const sexLabels = [...myMap.keys()];
    for(let l of sexLabels) console.log(l);
    const sexCounts = [...myMap.values()];
    console.log("COUNTS:");
    for(let c of sexCounts) console.log(c);
    new Chart(document.getElementById("sexChart"),{
        type:"pie",
        data:{
            labels: sexLabels,
            datasets:[{
                data:sexCounts,
                backgroundColor:[
                    '#FEA',
                    '#AB0',
                    '#BFE',
                    '#FA0',
                    '#A03'
                ]
            }]
        },plugins:[ChartDataLabels],
        options:{
            plugins:{
                datalabels:{
                    color:"white",
                    backgroundColor:"#222"
                },
                legend:{
                    labels:{
                        color:"white"
                    }
                }
            }
        }
    });
</script>
{% endblock %}