    <ul class="sub-menu nav">
        <li class="sub-menu-item nav-item"><a class="nav-link" href="/accounts/">Accueil</a></li>
        <li class="sub-menu-item nav-item"><a class="nav-link"href="/accounts/login/">S'identifier</a></li>
        <li class="sub-menu-item nav-item"><a class="nav-link"href="/accounts/register/">S'inscrire</a></li>
        <li class="sub-menu-item nav-item"><a class="nav-link"href="/accounts/my-account">Gérer mon compte</a></li>
        <li class="sub-menu-item nav-item"><a class="nav-link"href="/accounts/accounts/">Gérer les comptes (admin)</a></li>
    </ul>