<!DOCTYPE html>
<head>
    <title>AREP - Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <label for="id_username">Email ou tél:</label>
        {{form.username}} <br>
        <label for="id_password">Mot de passe:</label>
        {{form.password}} <br>
        <button type="submit">Go</button>
        {% if form.non_field_errors %}
            <div style="color:red;">
                {{form.non_field_errors}}
            </div>
        {% endif %}
    </form>
</body>