<!DOCTYPE html>
<head>
    <meta title="AREP, notre pilier" description="AREP est un des partis politiques les plus en vue en République Démocratique du Congo." keywords="arep, congo, rdc, parti, politique, démocratie, république"></meta>
    {% block mainTitle %}{% endblock %}
</head>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<body>
    <header class="col-2"><img src="{% static 'logo_3.png' %}"/></header>
    <nav class="navbar navbar-expand-sm">
        <ul>
            <li><a href="/membership">Membres</a></li>
            <li><a href="/shop">Boutique</a></li>
            <li><a href="/finance">Finances</a></li>
        </ul>
    </nav>
    <div class="bg-dark text-light">{% block title %}{% endblock %}</div>
    {% block subMenu %}{% endblock %}
    {% block content %}{% endblock %}
    <footer>Page développée par <b>Valentin Kavuna</b> | <a mailto="kacva@yahoo.com">kacva@yahoo.com</a></footer>
</body>
