{% extends "shop/master.html" %}
{% load static %}
{% block title %}<h3>{{title}}</h3>{% endblock %}
{% block content %}
    <h3>Soutenez-nous: achetez nos produits</h3>
    <div class="row">
        <div class="col-sm-0 col-md-6 col-lg-4"><img class="w-100" src="{%static 'img/shop/black-shopping.jpg'%}" alt="" class="w-100"></div>
        <div class="col-sm-12 col-md-6 col-lg-8 container">
            <div class="row">Le magasin du parti présente des accessoires divers et utiles, que vous pouvez commander en ligne.
                Pourquoi ne pas joindre l'utile à l'agréable? Soutenir le parti, c'est aussi contribuer à son bien-être financier.
            </a></div>
            <div class="row"><a href="/shop/products">Voir nos produits</a></div>
        </div>
    </div>
{% endblock %}