{% extends "core/master.html" %}
{% block mainTitle %}<title>AREP - Boutique</title>{% endblock %}
    <header>{% block title %}{% endblock %}</header>
    {% block subMenu %}
    <ul class="navbar-nav mr-auto expand-lg bg-body-tertiary">
        <li class="nav-item"><a href="/shop/">Accueil</a></li>
        <li class="nav-item"><a href="/shop/stores/">Dépôts</a></li>
        <li class="nav-item active"><a href="/shop/products/">Produits</a></li>
        <li class="nav-item active"><a href="/shop/add-product/">Nouveau produit</a></li>
    </ul>
    {% endblock %}
    {% block content %}{% endblock %}
