{% extends "shop/master.html" %}
{% block title %}<h3>{{title}}</h3>{% endblock %}
{% block content %}
    <div><a href="/shop/add-store">Créer</a></div>
   <table class="table table-dark">
    <tr><th scope="col">Name</th><th scope="col">Country</th><th colspan="3" scope="col"></th></tr>
        {% for store in storez %}
        <tr>
            <th scope="row"><strong>{{store.name}}</strong></td>
            <td>{{store.federation.country.name}}</strong></th>
            <td><a href="/shop/stores/{{store.id}}/products/">Voir les produits&nbsp;&gt;&gt;</a></td>
            <td><a href="/shop/show-store/{{store.id}}">Détail du dépôt&nbsp;&gt;&gt;</a></td>
            <td><a href="/shop/edit-store/{{store.id}}">Modifier&nbsp;&gt;&gt;</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}