body{
/*    background-color:#2B2D83;*/
    background-color:#224;
}a{
    text-decoration: none;
    color:#FEA;
}a:hover{
    color:#EEE;
}header{
    height:5em;
}.sub-menu > .sub-menu-item{
    background-color: #222;
    margin:.2em .2em .2em .2em;
    border:solid 1px #2B2D83;
    border-radius:2em;
    padding-left: .5em;
    padding-right: .5em;
}.sub-menu > .sub-menu-item:hover{
    background-color: inherit;
    border-color: #EEE;
}.sub-menu > .sub-menu-item > a{
    color:#FEA;
}#main-menu-left > .main-menu-left-item{
    background-color: #222;
    border:solid 1px #2B2D83;
    margin:.2em .2em .2em .2em;
}#main-menu-left > .main-menu-left-item:hover{
    background-color: inherit;
    border: solid 1px #EEE;
}#main-menu-left > .main-menu-left-item > a{
    color:#FEA;
}#main-menu-left > .main-menu-left-item > a:hover{
    color:white;
}/*#main-menu-left > .main-menu-left-item > a > i{
    color:#EEE;
}*/.title-block{
    background-color:inherit;
    border-bottom:solid 1px #FEA;
    color:white;
}.errors{
    color:orange;
}.vk-form-line input,.vk-form-line select,.vk-form-line option{
    background-color:#222;
    color:#FEA;
    border-bottom: solid 1px #FEA;
}.vk-form-line>*:first-child{
    width:50%;
}.vk-form-line>*:nth-child(2){
    color:white;
    /*background-color:#2B2D83;*/
    background-color: #222;
    border-radius:.5em;
    box-shadow:none;
    padding:.2em;
    width:50%;
}.vk-form-line>*:nth-child(3){
    width:100%;
}.vk-fieldset{
    background-color:rgba(0,0,0,.2);
    border-radius:1em;
    padding:1.5em;
    margin-top:1.5em;
    border: 1px solid #EEE;
}.vk-form-field-error-block{
    background-color: gray;
}.vk-form-field-error{
    background-color:black;
    color:red;
}.vk-charts{
    display:inline;
    border:none;/*solid 1px #FEA;*/
    height:15em !important;
    width:auto !important;
}.event-list-box{
    border:solid 1px #FEA;   
    border-radius:1em;
    padding: 0 1em 1em 1em; 
}.event-list-box .event-box{
    border-radius: 1em;
    padding:.5em;
    margin-top: 1em;
}.event-list-box .event-box:nth-child(2n){
    background-color: black;
}.event-list-box .event-box:nth-child(2n+1){
    background-color: #558;
}